@font-face {
	font-family:pixel;
	src: url("../fonts/Munro.ttf") format("truetype");
}
body {
	font-family:pixel;
	overflow:hidden;
	background: #4c4c4c;
	color:white;
}
small {
	position:fixed;
	right:7px;
	bottom:8px;
}
.twitter-follow-button {
	position:fixed;
	right:160px;
	bottom:7px;
}
section {
	position:relative;
	width:800px;
	margin:0px auto;
}
#first {
	position:absolute;
	top:0px;
	left:0px;
	width:800px;
	height:800px;
}
#second {
	position:absolute;
	top:0px;
	left:1000px;
	width:800px;
	display:none;
}
#third {
	position:absolute;
	left:0px;
	top:800px;
	width:800px;
	display:none;
}
.move1 {
	-webkit-animation:m 2s ease-in-out forwards;
	-moz-animation:m 2s ease-in-out forwards;
	animation:m 2s ease-in-out forwards;
}
@-webkit-keyframes m {
	from {-webkit-transform:scale(1);}
	50% {-webkit-transform:scale(0.5);}
	100% {-webkit-transform:scale(1);-webkit-transform:translate(-1000px,0px);}
}
@-moz-keyframes m {
	from {-moz-transform:scale(1);}
	50% {-moz-transform:scale(0.5);}
	100% {-moz-transform:scale(1);-moz-transform:translate(-1000px,0px);}
}
@keyframes m {
	from {transform:scale(1);}
	50% {transform:scale(0.5);}
	100% {transform:scale(1);transform:translate(-1000px,0px);}
}
.move2 {
	-webkit-animation:n 2s ease-in-out forwards;
	-moz-animation:n 2s ease-in-out forwards;
	animation:n 2s ease-in-out forwards;
}
@-webkit-keyframes n {
	from {-webkit-transform:scale(1);-webkit-transform:translate(-1000px,0px);}
	50% {-webkit-transform:scale(0.5);}
	100% {-webkit-transform:scale(1);-webkit-transform:translate(0px,-800px);}
}
@-moz-keyframes n {
	from {-moz-transform:scale(1);-moz-transform:translate(-1000px,0px);}
	50% {-moz-transform:scale(0.5);}
	100% {-moz-transform:scale(1);-moz-transform:translate(0px,-800px);}
}
@keyframes n {
	from {transform:scale(1);transform:translate(-1000px,0px);}
	50% {transform:scale(0.5);}
	100% {transform:scale(1);transform:translate(0px,-800px);}
}
.move3 {
	-webkit-animation:l 2s ease-in-out forwards;
	-moz-animation:l 2s ease-in-out forwards;
	animation:l 2s ease-in-out forwards;
}
@-webkit-keyframes l {
	from {-webkit-transform:scale(1);-webkit-transform:translate(0px,-800px);}
	50% {-webkit-transform:scale(0.5);}
	100% {-webkit-transform:scale(1);-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes l {
	from {-moz-transform:scale(1);-moz-transform:translate(0px,-800px);}
	50% {-moz-transform:scale(0.5);}
	100% {-moz-transform:scale(1);-moz-transform:translate(0px,0px);}
}
@keyframes l {
	from {transform:scale(1);transform:translate(0px,-800px);}
	50% {transform:scale(0.5);}
	100% {transform:scale(1);transform:translate(0px,0px);}
}
#latest {
	position:relative;
	top:50px;
	left:0px;
	height:70px;
}
#latest li {
	display:inline;
	padding:0px 5px;
}
